i.icon{
    font-size: 1.5em;
}
.item{
    font-size: 1.1em;
}

.container.main{
    margin-top: 6.0em;
}

.ui.centered.rounded.image{
    width: 100%;
    object-fit: cover;
}

#deleteForm{
    display: inline;
}

.ui.top.attached{
    margin-bottom: 20px;
}