<%- include("partials/header") %> 

<h1>Results</h1>

<ul>
    <% for(var i=0;i<results.length;i++){ %>
        <li> <strong><%= results[i].Title %></strong> (<%= (results[i].Year) %>) </li>
    <% } %> 
</ul>
<a href="/">
    <button>Search again!</button>
</a>
<%- include("partials/footer") %> 
