@font-face{
    font-family: myDigital;
    src: url(digital-7.ttf);
}

@font-face{
    font-family: myDigitalAlt;
    src: url("DIGITALDREAM.ttf");
}


body {
    background-color: black;
    color: rgb(197, 19, 19);
    font-family: myDigital;
    text-align: center;
    user-select: none;
}

h1 {
    width: 8vw;
    height: 11vw;
    font-size: 14vw;
    font-weight: 200;
    margin: auto;
}

h2 {
    font-size: 3vw;
    font-weight: 200;
}

input {
    width: 26vw;
    height: 7vw;
    font-family: myDigitalAlt;
    font-weight: 200;
    font-size: 4vw;
    text-align: center;
    margin-top: 4%;
    background-color: black;
    color: rgb(197, 19, 19);
    border: none;
    outline: none;
}

button{
    width: 11vw;
    height: 4vw;
    font-family: myDigital;
    font-size: 3vw;
    padding-bottom: 6px;
    margin: 6%;
    background-color: black;
    color: rgb(197, 19, 19);
    border-color: rgb(197, 19, 19);
    outline: none;
}


.score_panel {
    width: 75%;
    height: 20vw;
    margin: auto;
    padding-top: 2%;
}

.player_box {
    width: 49%;
    height: 100%;
    float: left;
    text-align: center;
}

.semicolon {
    width: 2%;
    margin-top: 10%;
    float: left;
}

.player_box input{
    width: 14vw;
    height: 3vw;
    font-size: 2vw;
    margin-bottom: 4%;
}